@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Oswald:wght@200&display=swap');

Body {
	font-family: 'Climate Crisis', cursive;
font-family: 'Oswald', sans-serif;
	}


DIV {
	border: 1px solid #000;
	}

#Header {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url (images/banner.png) no-repeat;
	color:red;
	}

#MainContent {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	}

#Footer {
	width: 802px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}
	
#FooterLeft {
	float:left;
	width:49.5%;
	height:50px;
	border: 1px solid green; 
}

#FooterRight {
	 float: right;
	 width: 49.5%;
	 height: 50px;
	 border: 1px solid red;
 }
 
 
 @media only screen and (max-width: 998) {
	 #Footer, MainContent, #Header {
		 width:100%
	 }
 }
 
* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  padding: 10px 20px;
  border-radius: 4px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.4s;
}

.button-1 {
  color: #0000FF;
  border: 3px solid #0000FF;
}

.button-1:hover {
  color: #06bcc1;
  background-color: #0000FF;
}

.button-5 {
	color: #0000FF;
  position: relative;
}

.button-5:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #0000FF;
  border-right: 3px solid #0000FF;
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.button-5:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 3px solid #00FFFF;
  border-left: 3px solid #00FFFF;
  transition: all 0.4s, opacity 0.1s 0.4s;
  opacity: 0;
}

.button-5:hover:after, .button-5:hover:before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  transition: all 0.4s, opacity 0.1s;
  opacity: 1;
}

